[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
kafka-python = "*"
Flask = "*"
pylint = "*"
faker = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[dev-packages]

[requires]
python_version = "3.6"
